{% extends "baby_logs/base.html" %}

{% block page_header %}
  <h2 class="text-center">{{ baby }}</h2>
{% endblock page_header %}

{% block content %}
    <div class="d-flex justify-content-end">
      <a class="btn btn-primary my-3" href="{% url 'baby_logs:new_post' baby.id %}">Add new post</a>
    </div>
    {% for post in posts %}
      <div class="card mb-4">
        <div class="card-header">
          <h4>
            {{ post.title}}
          </h4>
          <div class="d-flex justify-content-between">
            <div class="d-flex nav-item align-items-center">
            {{ post.date_of_event|date:'M d, Y H:i' }}
            </div>
            <div class="nav nav-item">
              <div class="nav-item">
                <small><a class="nav-link" href="{% url 'baby_logs:edit_post' post.id %}">edit</a></small>
              </div>
              <div class="nav-item">
                <small><a onclick="return confirm('Are you sure you want to delete this post?');" href="{% url 'baby_logs:delete_post' post.id %}" class="nav-link text-danger">delete</a></small>
              </div>
            </div>
          </div>
        </div>
      <div class="card-body">
        {{ post.text|linebreaks }}
      </div>
      </div>
    {% empty %}
      <h5 class="d-flex justify-content-center">There are no posts for this baby yet.</h5>
    {% endfor %}
{% endblock content %}
