{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" class="h-100">

    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Baby Journal</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>

    <body class="d-flex flex-column h-100">
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
            <a class="navbar-brand pr-3" href="{% url 'baby_logs:index'%}">Baby Journal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="d-sm-block d-md-none nav-item pr-3"><span class="navbar-text">Hi, {{ user.username }}.</span></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href={% url 'baby_logs:babies' %}>Babies</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="d-none d-md-block nav-item pr-3"><span class="navbar-text">Hi, {{ user.username }}.</span></li>
                        <li><a class="nav-link" href="{% url 'users:logout' %}">Log out</a></li>
                    {% else %}
                        <li class="nav-item pr-3"><a class="nav-link" href="{% url 'users:login' %}">Log in</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="pt-4 pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
            </div>
            <div class="">
                {% block content %}{% endblock content %}
            </div>
        </main>
        <footer class="mt-auto py-5">
            <div class="container justify-items-center">
                <div class="text-center">
                    <span class="text-muted"> Created by Francis Pelletier </span>
                </div>
                <div class="nav justify-content-center pt-1">
                    <a
                        href="https://github.com/fpelletier-gh/"
                        class="nav-link"
                        target="_blank"
                        rel="noopener noreferrer"
                    >Github Profile</a
                        >
                        <a
                            href="https://francispelletier.ca"
                            class="nav-link"
                            target="_blank"
                            rel="noopener noreferrer"
                        >Portfolio</a
                            >
                            <a
                                href="https://www.linkedin.com/in/francis-pelletier-4604061a2"
                                class="nav-link"
                                target="_blank"
                                rel="noopener noreferrer"
                            >Linked in</a
                                >
                                <a
                                    href="https://github.com/fpelletier-gh/baby-journal-MVC/"
                                    class="nav-link"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >Project Repository</a
                                    >
                                </div>
                            </div>
                        </footer>
                    </body>
                </html>
