{% extends "baby_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h3><a href="{% url 'baby_logs:baby' baby.id %}">{{ baby }}</a></h3>
{% endblock page_header %}

{% block content %}
  <h5>Edit post:</h5>
  <form class="form" action="{% url 'baby_logs:edit_post' post.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <div class="nav">
        <button name="submit" class="btn btn-primary">Save</button>
        <a class="mx-2 p-2 text-decoration-none" href="{% url 'baby_logs:baby' baby.id %}">Cancel</button>
      </div>
    {% endbuttons %}
  </form>
{% endblock content %}
