{% extends "baby_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h2>Journal</h2>
{% endblock page_header %}

{% block content %}
<h5>Add a new baby:</h5>
<form action="{% url 'baby_logs:new_baby' %}" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <div class="nav">
      <button name="submit" class="btn btn-primary">Add baby</button>
      <a class="mx-2 p-2 text-decoration-none" href="{% url 'baby_logs:babies' %}">Cancel</button>
    </div>
  {% endbuttons %}
</form>

{% endblock content %}
