{% extends "baby_logs/base.html" %}

{% block page_header %}
  <h2 class="text-center">{{ topic }}</h2>
{% endblock page_header %}

{% block content %}
    <a class="btn btn-primary mb-3" href="{% url 'baby_logs:new_entry' topic.id %}">Add new entry</a>
    {% for entry in entries %}
      <div class="card mb-3">
        <h4 class="card-header">
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small><a href="{% url 'baby_logs:edit_entry' entry.id %}">edit entry</a></small>
        </h4>
      <div class="card-body">
        {{ entry.text|linebreaks }}
      </div>
      </div>
    {% empty %}
      <p>There are no entries for this topic yet.</p>
    {% endfor %}
{% endblock content %}
